$primary: #d2a37d;
$component: #aa6639;
$dark: #302b2f;
$light: #f4f5f1;
$white: #fafafa;
$brown: #482716;
$beige: #d5b890;
$gold: #7c6a51;
$yellow: #f3af46;

footer {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
