<div class="top-bar"></div>
<header>
  <div class="nav-container">
    <nav>
      <a routerLink="/" class="logo">Lilly&Leon</a>
      <ul>
        <li><a class="nav-btn" href="#" routerLink="/">HOME</a></li>
        <li>
          <a class="nav-btn" href="#" routerLink="/location">LOCATIONS</a>
        </li>
        <li><a class="nav-btn" href="#" routerLink="/store">SHOP ONLINE</a></li>
        <li><a class="nav-btn" href="#" routerLink="/concept">CONCEPT</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
