$primary: #d2a37d;
$component: #aa6639;
$dark: #302b2f;

.nav-container {
  width: 95%;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(210, 163, 125, 0.05);
  padding: 1em 0;

  a {
    color: $dark;
    text-decoration: none;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;

    ul {
      position: absolute;
      left: 27.5%;
      list-style-type: none;
      margin: 0;
      display: flex;
      padding: 0;
      justify-content: center;
      align-self: center;

      li a {
        padding: 1em;
        border-bottom: 1px solid $dark;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

a.logo {
  position: absolute;
  right: 5%;
  margin: 0;
  font-family: "Dosis", "sans-serif;";
  font-weight: 200;
  font-size: 4rem;
}
