<div class="location">
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.656301519674!2d13.303211215998488!3d52.503460845206945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a850dd8654a5fd%3A0xaf3717e6d0b2fe32!2sLilly%20und%20Leon!5e0!3m2!1sen!2sde!4v1603214308250!5m2!1sen!2sde"
      width="600"
      height="450"
      frameborder="0"
      style="border: 0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
  <div class="details">
    <div class="address">
      <h4>LOCATION</h4>
      <p>
        Mommsenstraße 41 <br />
        10629 Berlin
      </p>
      <p>+49 030 55959265</p>
    </div>
    <div class="hours">
      <h4>HOURS</h4>
      <p>Monday 11am–5pm</p>
      <p>Tuesday 11am–5pm</p>
      <p>Wednesday 11am–5pm</p>
      <p>Thursday 11am–5pm</p>
      <p>Friday 11am–5pm</p>
      <p>Saturday 11am–2pm</p>
      <p>Sunday Closed</p>
    </div>
  </div>
</div>
