$primary: #d2a37d;
$component: #aa6639;
$dark: #302b2f;
$light: #f4f5f1;
$white: #fafafa;
$brown: #482716;
$beige: #d5b890;
$gold: #7c6a51;
$yellow: #f3af46;

.loc-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  .img {
    max-width: 225px;
    max-height: 320px;
    margin: 0.25rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  img {
    width: 100%;
    max-height: 320px;
    cursor: pointer;
    object-fit: cover;
    transition: all 300ms ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-row > .image-column {
  padding: 5px 10px;
}
.image-row:after {
  content: "";
  display: table;
  clear: both;
}
.image-column {
  float: left;
  max-width: 150px;
  max-height: 275px;
  img {
    width: 100%;
  }
}

.slide-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.slide-modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .mimg-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
      max-height: 95vh;
      max-width: 99vw;
    }
  }
}
.slide-modal-content .image-column {
  padding: 0;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 2;
}
.close:hover,
.close:focus {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}
.mimg-slides {
  display: none;
}
.cursor {
  cursor: pointer;
}
a.prev,
a.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 50px;
  margin: 0;
  padding: 18px;
  color: $white !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.8s ease;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: $gold;
}
.images {
  opacity: 0.7;
}
.active,
.images:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
