$primary: #d2a37d;
$component: #aa6639;
$dark: #302b2f;
$light: #f4f5f1;
$white: #fafafa;
$brown: #482716;
$beige: #d5b890;
$gold: #7c6a51;
$yellow: #f3af46;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.collection-wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  border-top: 1px solid $gold;
}

@media (max-width: 1366px) {
  body {
    .collection-wrapper {
      min-width: 320px;
    }
  }
}
