@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Dosis:wght@200;300;400&family=Playfair+Display&display=swap");

$primary: #d2a37d;
$component: #aa6639;
$dark: #302b2f;

body {
  margin: 0;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
}
