@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Dosis:wght@200;300;400&family=Playfair+Display&display=swap");

$primary: rgba(210, 163, 125);
$component: #aa6639;
$dark: #302b2f;

body {
  margin: 0;
  font-family: "Cabin", "sans-serif";
  font-size: 18px;
}
